<div style="float:left; width: 500px;">

<h1>Questions</h1>
    <% @questions.reverse.each do |id, question, time, altered, body| %>
    <li><%= link_to question, question_path(id) %></li>
    <%end %>

</div>


<div style="float:right; width: 700px;">
<div>
<h1>Ask a Question</h1>

<%=form_for(@entry) do |f| %>
<div class ="field">
<%= f.label :title %>
<%= f.text_field :title %>

</div>

<div class ="field">
<%= f.label :description %>
<%= f.text_field :body %>
</div>


<div class="actions">
<%= f.submit%>

<%end%>





</div>
